.topNav {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.main {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 4rem;
  height: 85vh;
  }

.bottomNav {
  position: fixed;
  top: 0;
  width: 100%;
}