.login_form{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.input_field{
    margin:1rem;
}

.form_buttons{
    display: flex;
    justify-content: space-evenly;

}

.google_button{
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;

}

.login_links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
    font-size: small;

}

