.activity_container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 99%;
    /* margin-top: 1.8rem; */
    }
    
.activity_gallery {
        display: flex;
        flex-direction: column;
        justify-self: center;
        width: 99%;
        /* margin-top: 0.5rem; */
    }