
.logoBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  width: 100%;
  margin-top: 3rem;
}

.img {
  height: 8rem;
  padding: 1rem;
  object-fit: contain;
  overflow: hidden;
}

.legend {
  font-size: 1.3rem;
}
