.signup_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    margin-top: 3rem;
}

.signup_input_field{
    margin:1rem;
}

.signup_form_buttons{
    display: flex;
    justify-content: space-evenly;
    padding: 0 3rem
}

.avatar {
    display: flex;
    justify-content: center;
    padding-left: 0.5rem;
}